
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/laotek/.DS_Store
src/main/java/com/laotek/churchguru/.DS_Store
src/main/java/com/laotek/churchguru/daos/.DS_Store
src/main/java/com/laotek/churchguru/daos/mobile/.DS_Store
src/main/java/com/laotek/churchguru/daos/shared/.DS_Store
src/main/java/com/laotek/churchguru/model/.DS_Store
src/main/java/com/laotek/churchguru/model/shared/.DS_Store
src/main/java/com/laotek/churchguru/web/.DS_Store
src/main/java/com/laotek/churchguru/web/client/.DS_Store
src/main/java/com/laotek/churchguru/web/client/activity/.DS_Store
src/main/java/com/laotek/churchguru/web/client/activity/churchapp/.DS_Store
src/main/java/com/laotek/churchguru/web/server/.DS_Store
src/main/java/com/laotek/churchguru/web/server/website/.DS_Store
src/main/resources/.DS_Store
src/main/resources/mobileapp/.DS_Store
src/main/resources/mobileapp/images/.DS_Store
src/main/resources/static/.DS_Store
src/main/resources/static/images/.DS_Store
src/main/resources/static/images/app/.DS_Store
src/main/webapp/.DS_Store
src/main/webapp/WEB-INF/

**/gwt-unitCache
**/resources/static/comm/
**/resources/static/mobi/
**/resources/static/WEB-INF/
**/target/
*.idea/
**/my-tomcat
**churchguru-web.iml
/.settings/
/.classpath
/.project
